/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans&family=Roboto+Slab:wght@400;500&family=Ubuntu:wght@500&display=swap');


  .navbar{
    background-color: ee7e7;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  }

  .navbar a{
   color:rgba(46, 46, 46,.75);
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 500;
  }

  .no-line{
    text-decoration: none;
    color: #337ab7;
  }

  h2 a{
    color:#337ab7;
    font-family: "Roboto Slab"!important;
    text-decoration: none;
    font-weight: 400;
  }

  .navbar-brand {
    padding: 15px;
  }
